:root {
    --bg-color: #f8faff;
    --title-color: #2d3748;
    --text-color: #64748b;
    --bnt-color: #5a8dee;
    --bnt-border-color: #e2e8f0;
    --bnt-border-color-2: #cbd5e0;
    --secundary-color: #FF9C28;
    --bg-secundary-color: rgb(241, 241, 241);
    --border-div: #4177db;
    --form-bg: #2d5db636;
}

* {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    padding: 30px;
    background-color: rgb(241, 241, 241);
}

header h1 {
    font-size: 40px;
    padding-bottom: 10px;
    color: var(--title-color);
}

header p {
    font-size: 18px;
    color: var(--text-color);
}

html, body {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-color);
    scroll-behavior: smooth;
}

footer {
    background-color: var(--bg-secundary-color);
    text-align: center;
    color: var(--text-color);
    padding: 1.5%;
}

div#preencher {
    flex: 1;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

section#container {
    width: 60%;
    display: flex;
    background-color: #5a8dee;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 1%;
    margin-top: 3%;
    margin-bottom: 3%;
}

div#agendamentos-container {
    background-color: var(--secundary-color);
    position: absolute;
    margin-top: -35%; 
    margin-left: 38%;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 700;
}

div#agendamentos-container:hover {
    filter: brightness(0.8);
}

div#horarios li {
    list-style: none;
}

div#form-container {
    width: 100%;
    height: 100%;
}

div#form-container form {
    background-color: var(--form-bg);
    border: 1px solid var(--border-div);
    width: 100%;
    height: 100%;
    padding: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.formsAreas {
    width: 100%;
}

input.forms {
    margin-top: 1%;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
}

button#agendarBtt {
    width: 80%;
    padding: 10px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 2%;
    font-size: 11pt;
    font-weight: 700;
    background-color: var(--secundary-color);
}

button#agendarBtt:hover {
    filter: brightness(0.8);
}

div#horarios button {
    padding: 12px;
    border: none;
    border-radius: 15px;
    margin-top: 1%;
    width: 24%;
    transition: 0.2s;
    cursor: pointer;
    font-size: 14pt;
}

div#horarios button:hover {
    filter: brightness(0.8);
}

div#horarios p {
    font-weight: 700;
    font-size: 15pt;
}

div#horarios span {
    font-weight: 600;
    font-size: 17pt;
}

div#agendamentos-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 757px;
    margin-left: 2.5%;
    max-width: 35%;
    background-color: var(--bnt-color);
    padding: 40px;
    border-radius: 15px;
    flex: 1;
}

div#agendamentos-area button#loginBtt {
    border: none;
    background-color: var(--secundary-color);
    padding: 16px;
    border-radius: 15px;
    width: 50%;
    margin-top: 50%;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15pt;
    font-weight: 700;
}

div#agendamentos-area button:hover {
    filter: brightness(0.8);
}

div#agendamentos-area p {
    margin-top: 3%;
}

div.agends {
    display: flex;
    margin-top: 5%;
    width: 100%;
    text-align: center;
}

div.agends span.spanBorder {
    border-right: 1px solid black;
}

span.borderRS {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

span.borderRE {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.agends span {
    padding: 5px;
    width: 100%;
    background-color: var(--bnt-border-color);
}

button.deleteBtt {
    border: solid 1px rgb(0, 0, 0);
    background-color: rgb(247, 46, 46);
    border-radius: 15px;
    font-size: 11pt;
    font-weight: 500;
    margin-top: 2%;
    color: rgb(233, 233, 233);
    padding: 12px;
    transition: 0.3s;
    cursor: pointer;
    align-self: flex-start;
}

button.deleteBtt:hover {
    filter: brightness(0.8);
}

form#formLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-top: 32%;
    background-color: var(--border-div);
    padding: 5px;
    border-radius: 10px;
}

label.labelLogin {
    align-self: flex-start;
}

input#nomeLogin, input#emailLogin {
    align-self: flex-start;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

button#bttLogar {
    padding: 12px;
    border: none;
    font-size: 12pt;
    cursor: pointer;
    font-weight: 700;
    border-radius: 5px;
    background-color: var(--secundary-color);
    width: 40%;
}

div#parte2Log {
    display: none;
    width: 100%;
}

button.showP3, div.showP3, p.showP3 {
    display: none;
}