:root {
    --cor-primaria: #FF9900;
    --cor-secundaria: #FD1D1D;
    --cor-titulos: black;
    --cor-paragrafos: rgb(85, 85, 85);
    --cor-bg: #fff6f6;
    --cor-bordas: #f7eded;

}

* {
    margin: 0px;
    padding: 0px;
    font-family: Inter, sans-serif;
    box-sizing: border-box;
}

header {
    background-color: var(--cor-bg);
    text-align: center;
    padding: 30px;
}

#titulo {
    font-size: 40px;
    padding-bottom: 10px;
    color: var(--cor-titulos);
}

#tit-parag {
    font-size: 1.1rem;
    color: var(--cor-paragrafos);
}

html, body {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--cor-bg);
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    scroll-behavior: smooth;
}

footer {
    background-color: var(--cor-bg);
    text-align: center;
    color: var(--cor-titulos);
    padding: 1.5%;
}

div#preencher {
    flex: 1;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

section#container {
    color: black;
    background: white;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1%;
    margin-top: 3%;
    margin-bottom: 3%;
}

div#agendamentos-container {
    color: white;
    background-color: var(--cor-primaria);
    position: absolute;
    margin-top: -35%; 
    margin-left: 45%;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 11pt;
}

div#agendamentos-container:hover {
    /*ajustar cor*/
    filter: brightness(0.8);
}

div#horarios li {
    list-style: none;
}

div#form-container {
    width: 100%;
    height: 100%;
}

div#form-container form {
    border: none;
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.formsAreas {
    width: 100%;
}

input.forms {

    border: 2px solid var(--cor-bordas);
    background-color: var(--cor-bg);
    margin-top: 1%;
    width: 100%;
    padding: 12px;
    border-radius: 6px;
}

button#agendarBtt {
    color: white;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 2%;
    font-size: 11pt;
    font-weight: 700;
    background-color: var(--cor-primaria);
}

button#agendarBtt:hover {
    /*ajustar cor*/
    transform: scale(1.02);
}

div#horarios button {
    background-color: var(--cor-bg);
    padding: 12px;
    border: 2px solid var(--cor-bordas);
    border-radius: 8px;
    margin-top: 5px;
    width: 24%;
    cursor: pointer;
    font-size: 11pt;
    transition: background-color 0.3s ease;
}


div#horarios button:hover {
    color: white;
    border: none;
    background-color: var(--cor-primaria);
}

div#horarios p {
    font-size: 11pt;
}

div#horarios span {
    font-size: 15pt;
}

div#agendamentos-area {
    display: none;
    flex-direction: column;
    align-items: center;
    min-height: 757px;
    margin-left: 2.5%;
    max-width: 35%;
    background-color: var(--bnt-color);
    padding: 40px;
    border-radius: 15px;
    flex: 1;
}

div#agendamentos-area button#loginBtt {
    border: none;
    background-color: var(--secundary-color);
    padding: 16px;
    border-radius: 15px;
    width: 50%;
    margin-top: 50%;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15pt;
    font-weight: 700;
}

div#agendamentos-area button:hover {
    filter: brightness(0.8);
}

div#agendamentos-area p {
    margin-top: 3%;
}

div.agends {
    display: flex;
    margin-top: 5%;
    width: 100%;
    text-align: center;
}

div.agends span.spanBorder {
    border-right: 1px solid black;
}

span.borderRS {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

span.borderRE {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.agends span {
    padding: 5px;
    width: 100%;
    background-color: var(--bnt-border-color);
}

button.deleteBtt {
    border: solid 1px rgb(0, 0, 0);
    background-color: rgb(247, 46, 46);
    border-radius: 15px;
    font-size: 11pt;
    font-weight: 500;
    margin-top: 2%;
    color: rgb(233, 233, 233);
    padding: 12px;
    transition: 0.3s;
    cursor: pointer;
    align-self: flex-start;
}

button.deleteBtt:hover {
    filter: brightness(0.8);
}

form#formLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-top: 32%;
    background-color: var(--border-div);
    padding: 5px;
    border-radius: 10px;
}

label.labelLogin {
    align-self: flex-start;
}

input#nomeLogin, input#emailLogin {
    align-self: flex-start;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

button#bttLogar {
    padding: 12px;
    border: none;
    font-size: 12pt;
    cursor: pointer;
    font-weight: 700;
    border-radius: 5px;
    background-color: var(--secundary-color);
    width: 40%;
}

div#parte2Log {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
}

button.showP3, div.showP3, p.showP3 {
    display: none;
}